{% extends "utils/base.html" %}
{% block start %}



<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mt-5" id="list-ul">
        {% for category in categories %}
        {% if category.sub_categories.all %}
        <li class="list-group-item dropdown dropright">
          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink-{{category.id}}" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{category.name}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-{{category.id}}">
            {% for subcategory in category.sub_categories.all %}
            <a class="dropdown-item" href="#">{{subcategory.name}} </a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="list-group-item">{{category.name}}</li>
        {%endif %}



        {% endfor %}
      </ul>

    </div>
    <div class="col-md-9">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner mt-5" id="car">
          <div class="carousel-item active">
            <img class="d-block w-100"
              src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-07/pharmacy-WEB.jpg"
              alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
              src="https://cdn.shopify.com/s/files/1/0074/0429/0111/files/Homepage-free-shipping-banner_1350x600.jpg?v=1591817221"
              alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100"
              src="https://i.pinimg.com/originals/df/c1/f9/dfc1f9ba2734aa94690f009d721440d7.jpg" alt="Third slide">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <button class="btn btn-sm btn-outline-primary float-right mt-5 but">See all</button>
    <h1 class="pt-5 pb-5">Popular Products</h1>

    <div class="row">

      {% for product in products %}
     
      <div class="col-md-3 mt-3">
        <div class="card">
          <img class="card-img-top img-fluid p-2"
          style="height: 150px;width: 220px;margin:auto" 
          src="/media/{{product.product.getFirstImage}}"

            alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <a href="/product-detail/{{product.id}}" 
              
              class=text-dark>{{product.product.item_name}}</a></p>
            <h4 class=pb-0 pt-0>{{product.vendor_selling_price}}</h4>
          </div>
        </div>

      </div>
      {% endfor %}


    </div>
  </div>
</div>
<div class="ok">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <h3 class="mt-5">Download app demo text</h3>
        <p>Get an amazing app to make your life easy</p>
      </div>
      <div class="col-md-4">
        <img src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/misc/appstore.png" class="mt-5"
          id="cool">
      </div>

    </div>
  </div>

</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <h6 class="mt-5">Brands</h6>
          <li><a href="">Adidas</a></li>
          <li><a href="">Puma</a></li>
          <li><a href="">Reebok</a></li>
          <li><a href="">Nike</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <h6 class="mt-5">Company</h6>
          <li><a href="">About us</a></li>
          <li><a href="">Career</a></li>
          <li><a href="">Find a store</a></li>
          <li><a href="">Rules and terms</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>


      <div class="col-md-3">
        <ul>
          <h6 class="mt-5">Account</h6>
          <li><a href="">User Login</a></li>
          <li><a href="">User register</a></li>
          <li><a href="">Account Setting</a></li>
          <li><a href="">My Orders</a></li>

        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <h6 class="mt-5">Social</h6>
          <li><a href=""><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href=""><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href=""><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href=""><i class="fab fa-youtube"></i> Youtube</a></li>

        </ul>
      </div>

    </div>
  </div>
</footer>

{% if messages %}
{% for message in messages %}
<h1>{{message}} {{message.tags}}</h1>
{% endfor %}

{% endif %}
{% include "utils/registration_modal.html" %}


{% endblock %}