<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete Example</title>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

    <div class="container mt-5 pt-5 col-md-5">
        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" placeholder="Search for products..." />
            <ul class="autocomplete-result-list"></ul>
        </div>
    </div>

    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <script>
        new Autocomplete('#autocomplete', {
            search: input => {
                const url = `/api/elastic/product/?search=${input}`;
                return new Promise(resolve => {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            // Extract only the product_name values
                            resolve(data.data.map(item => item.product_name));
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                            resolve([]);
                        });
                });
            },

            renderResult: (result, props) => {
                return `
                    <li ${props}>
                        <div>${result}</div>
                    </li>
                `;
            },

            getResultValue: result => result,

            onSubmit: result => {
                // Redirect or take action on result submission
                window.open(`/places/?search=${encodeURIComponent(result)}`);
            }
        });
    </script>

</body>

</html>
